<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>优集品</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/libs/angular.min.js"></script>
		<script src="js/libs/angular-ui-router.min.js"></script>
		<script src="js/libs/angular-css.min.js"></script>
		<script src="js/libs/swiper.min.js"></script>
		<script src="js/libs/jquery-1.12.3.min.js"></script>
		<script src="app.js"></script>
		<script src="modules/moduleCtrl.js"></script>
		<script src="modules/home/home.js"></script>
		<script src="modules/search/search.js"></script>
		<script src="modules/mine/mine.js"></script>
		<script src="modules/cart/cart.js"></script>
		<script src="modules/home/slide1/slide1.js"></script>
		<script src="modules/home/silde2/slide2.js"></script>
		<script src="modules/home/slide3/slide3.js"></script>
		<script src="modules/home/inventory/inventory.js"></script>
		<script src="modules/home/u-PASS/pass.js"></script>
		<script src="modules/home/welfare/welfare.js"></script>
		<script src="modules/brandList/brandList.js"></script>
		<script src="modules/brand/brand.js"></script>
		<link rel="stylesheet" type="text/css" href="reset.css"/>
		<link rel="stylesheet" type="text/css" href="js/libs/swiper.min.css"/>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body ng-app="ujipin">
	    <div id="tab" class="overflowHide searchHide">
	    	<div class="tab-box">
		    	<div class="logo"><a ui-sref="home" href=""><img src="img/logo_t.png"/></a></div>
		        <ul class="overflowHide">
		            <li class="search"><p><img src="img/search.png"/></p></li>
		            <li ui-sref="mine.main"><a href=""><img src="img/mine.png"/></a></li>
		            <li ui-sref="cart"><a href=""><img src="img/cart.png"/></a></li>
		        </ul>
		    </div>
		    <div class="search-box">
				<div class="search-t">
					<div class="input-box">
						<a ui-sref="search" href="">
							<input type="text" placeholder="请输入搜索内容"/>
						</a>	
					</div>
					<div>
						取消
					</div>
				</div>
				<div class="category-list" ng-controller="categotyCtrl">
					<div ng-repeat="i in data" class="category-item" >
						<p>{{i.name}}</p>
						<ul ng-controller="goodCtrl">
							<li ui-sref="searchlist" ng-click="goodCtrl(j.name)" ng-repeat="j in i.sub_cate_list"><a href="">{{j.name}}</a></li>
						</ul>
					</div>
					<div class="category-item pp" >
						<p><a ui-sref="brandList" href="">品牌</a></p>
					</div>
				</div>
			</div>
		    <div class="shade"></div>
	    </div>
	    <div id="content" ui-view></div>
	</body>
</html>
