
.shopping-list{width: 100%;height: 2.15rem;background: #eee;}
.no-goods{width: 100%;height: 100%; text-align: center;color: #4F494B;}
.no-goods>img{width: 1.44rem;margin: auto;}
.text{margin-top: 0.1rem;}
.no-goods>a{display: inline-block;width: 1.44rem; height: 0.32rem;line-height: .32rem;background: #fff;color: #B93A2C;border: 0.01rem solid #E6E6E6;border-radius: 0.05rem;margin-top: 0.2rem;font-size: 0.14rem}
.randomPro{width: 3.2rem;margin-top: 0.85rem;height: 1.87rem;overflow: hidden;}
.t{color: #4F494B;font-size: .14rem;line-height: .48rem;padding-left: .16rem;border-bottom: 0.01rem solid #EDEDED;}   
.swiper-slide img{width: 1rem;}
.goods_name{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}    
.goods_price{color: red;}   
.market_price{color: #4F494B;text-decoration: line-through;}
