<div id="wrap">
    <div id="slideShow">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ui-sref="slide1"><a href=""><img src="img/slide1.jpg"></a></div>
                <div class="swiper-slide" ui-sref="slide2"><a href=""><img src="img/slide2.jpg"></a></div>
                <div class="swiper-slide" ui-sref="slide3"><a href=""><img src="img/slide3.jpg"></a></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div id="introduce-list">
        <ul>
            <li ui-sref="inventory"><a href=""><img src="img/1.png"></a></li>
            <li ui-sref="u-PASS"><a href=""><img src="img/2.png"></a></li>
            <li ui-sref="welfare"><a href=""><img src="img/3.png"></a></li>
        </ul>
    </div>
    <div id="activity-img"><a href=""><img src="img/activity.png" alt=""></a></div>
    <div id="seckill">
        <div id="divImg">
            <img src="{{seckillImg.goods_thumbnail}}" alt="">
        </div>
        <div id="seckillPrice">￥{{seckillImg.seckill_price}}</div>
        <div id="seckillRight">
            <p><img src="http://m.ujipin.com/media/images/seckill-text.png" alt=""></p>
            <div id="time"><span id="sp1"></span> <span id="sp2"></span> <span id="sp3"></span></div>
        </div>
    </div>
    <div class="startshow">
        <div>
            <p><img src="{{startshow.cover}}" alt=""></p>
            <div class="rolls">
                <ul>
                    <li ng-repeat="item in startshow.goods_list" >
                        <p><a href=""><img src="{{item.thumbnail}}" alt=""></a></p>
                        <p><a href="">{{item.goods_name}}</a></p>
                        <p class="price"><a href="">￥{{item.goods_price}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="startshow">
        <div>
            <p><img src="{{startshows.cover}}" alt=""></p>
            <div  class="rolls">
                <ul>
                    <li ng-repeat="item in startshows.goods_list" >
                        <p><a href="#"><img src="{{item.thumbnail}}" alt=""></a></p>
                        <p><a href="#">{{item.goods_name}}</a></p>
                        <p class="price"><a href="#">￥{{item.goods_price}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="showdetail" ng-repeat="item in object1">
        <p class="title">{{item.name}}</p>
        <ul class="overflowHide">
            <li ng-repeat="item2 in item.goods_list">
                <p><a href="#"><img src="{{item2.thumbnail}}" alt=""></a></p>
                <p><a href="#">{{item2.selling_point}}</a></p>
                <p><a href="#">{{item2.goods_name}}</a></p>
                <p class="price2"><a href="#"> ￥{{item2.goods_price}}</a></p>
            </li>
        </ul>
        <div class="last-li">
            <div class="in-text" >
                <p><a href="#">{{item.name}}</a></p>
                <p><a href="#">还有20件生活好物品</a></p>
                <p><a href="#"><i class="fa fa-arrow-circle-o-right fa-2x"></i></a></p>
            </div>
        </div>
    </div>
</div>



