<div id="wrap">
    <div id="slideShow">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="#"><img src="img/4.png"></a></div>
                <!--<div class="swiper-slide"><a href="#"><img src="img/slide2.jpg"></a></div>-->
                <!--<div class="swiper-slide"><a href="#"><img src="img/slide3.jpg"></a></div>-->
            </div>
            <!-- 如果需要分页器 -->
            <!--<div class="swiper-pagination"></div>-->
        </div>
    </div>
    <div id="today"><p>今日特惠</p></div>
        <div id="preference">
            <a href=""><img src="img/5.jpg" alt=""></a>
            <div id="pre-right">
                <p><a href="">纯洁不紧绷</a></p>
                <p><a href="">悦木之源 均衡泡沫洁面慕斯 150ML</a></p>
                <p id="last"><a href="">特惠价：￥168.00</a></p>
            </div>
        </div>
    <div class="showdetail" ng-repeat="item in object1">
        <p class="title">{{item.name}}</p>
        <ul class="overflowHide">
            <li ng-repeat="item2 in item.goods_list">
                <p><a href="#"><img src="{{item2.thumbnail}}" alt=""></a></p>
                <p><a href="#">{{item2.selling_point}}</a></p>
                <p><a href="#">{{item2.goods_name}}</a></p>
                <p class="price2"><a href="#"> ￥{{item2.goods_price}}</a></p>
                <!--<p class="add">+</p>-->
            </li>
        </ul>
        <div class="last-li">
            <div class="in-text" >
                <p><a href="#">{{item.name}}</a></p>
                <p><a href="#">还有20件生活好物品</a></p>
                <p><a href="#"><i class="fa fa-arrow-circle-o-right fa-2x"></i></a></p>
            </div>
        </div>
    </div>
</div>